<div class="about-container">
  <div class="app-description">
    <h1>About This App</h1>
    <p>
      This is a class app for MSSE663 - Web Frameworks at Regis University. It
      demonstrates the core concepts of Angular and serves as a learning project
      for mastering web frameworks.
    </p>
  </div>

  <div class="author-section">
    <h2>Author</h2>
    <p>
      Tutorial by
      <a
        href="https://github.com/morgnism/MSSE663-js-assignments"
        target="_blank"
      >
        <strong>Morgan Worrell</strong>
      </a>
    </p>
    <p>
      Followed by
      <a href="https://github.com/JohnMKreski/MSSE663-classApp" target="_blank">
        <strong>John Michael Kreski</strong>
      </a>
    </p>
  </div>

  <div class="app-version">
    <p>This app was built using:</p>
    <p>Angular CLI: 18.2.3</p>
    <p>Node: 20.3.1</p>
    <p>Package Manager: npm 9.6.7</p>
    <p>OS: win32 x64</p>
  </div>
</div>
